<% include partials/header %>
  <!------ Include the above in your HEAD tag ---------->
  <link href="/stylesheets/assessment.css" rel="stylesheet">

  <div class="row">

    <div style="width: 30%; margin: 25px auto;">
     
        <% result.rows.forEach(function(row){ %>
          <h2>Assessment Information for
            <%= row.coursecode %>
          </h2>
           <div class="activity-feed">
          <% for (var k in row.posts){ %>
          <%if (row.posts.hasOwnProperty(k)){ %>
              <div class="feed-item">
                <div class="date">
                  <%=  k %>
                </div>
                <div class="text">
                  <%= row.posts[k] %>
                </div>
              </div>
          <%  }} %>
          <% }) %>
      </div>
   
            <a href="/courses/<%=result.rows[0].coursecode %>"> Go Back</a>
    </div>
  </div>

  <!--Bootstrap 3.2.0 Snippet by i-heart-php-->

  <% include partials/footer %>
